<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="card">
  <div class="card-body">

    <div class="mb-3">
      <%= f.label :name, { class: "form-label"} %>
      <%= f.text_field :name, { class: "form-control", placeholder: "Enter Your Name" } %>
    </div>

    <div class="mb-3">
      <%= f.label :Email, { class: "form-label"} %>
      <%= f.text_field :email, { class: "form-control", placeholder: "Enter Email" } %>
    </div>

    <div class="mb-3">
      <%= f.label :Password, { class: "form-label"} %>
      <%= f.password_field :password, { class: "form-control", placeholder: "Enter Password" } %>
    </div>

    <%= f.submit "Submit", class: "btn btn-success" %>

  </div>
</div>


<% end %>